:root {
    --color-main: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: var(--color-main);
}

#middlebox {
    float: left;
    width: 350px;

}

#rightbox {
    float: right;
    width: 25%;
}

.colorHeader {
    display: inline;
    font-size: 60px;
    color: white;
}

.completeHeader {
    display: block;
    margin: auto auto;
    text-align: center;
}

.monochromeHeader {
    font-size: 60px;
    font-weight: bold;
}

.letter {
    width: 10px;
    height: 15px;
}

.rules {
    width: 400px;
    margin: 0 auto;
    text-align: justify;
}

.rules h3 {
    font-weight: bold;
    cursor: pointer;
}

.board {
    width: 500px;
    margin: auto auto;
}


.rectangle {
    width: 350px;
    height: 80px;
    margin-top: 30px;
    background: transparent;
    border: thin dotted black;
    position: relative;
    display: inline-block;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: thin dotted black;
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;

}

.rectangle .circle1 {
    margin-top: 40px;
    margin-left: 10px;
}

.rectangle .circle2 {
    margin-top: 40px;
    margin-left: 70px;
}

.rectangle .circle3 {
    margin-top: 40px;
    margin-left: 130px;
}

.rectangle .circle4 {
    margin-top: 40px;
    margin-left: 190px;
}

.rectangle .square {
    content: '';
    width: 30px;
    height: 35px;
    margin-top: 40px;
    margin-left: 290px;
    border: none;
    position: absolute;
    transform: translateY(-50%);
    display: inline-block;
}

.rectangle .square .minicircle1, .minicircle2, .minicircle3, .minicircle4 {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    transform: translateY(-50%);
    border: thin solid black;
    position: absolute;
    color: #000;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.rectangle .square .minicircle2 {
    margin-left: 100%;
}

.rectangle .square .minicircle3 {
    margin-top: 100%;
}

.rectangle .square .minicircle4 {
    margin-top: 100%;
    margin-left: 100%;
}

.controlRectangle {
    width: 80px;
    height: 380px;
    margin-top: 50px;
    border: black solid thin;

}

.controlRectangle .circle1 {
    margin-left: 12px;
    margin-top: 40px;
    background-color: #ffbf00;
  cursor: pointer;


}

.controlRectangle .circle2 {
    margin-left: 12px;
    margin-top: 100px;
    background-color: #f6e665;
  cursor: pointer;
}

.controlRectangle .circle3 {
    margin-left: 12px;
    margin-top: 160px;
    background-color: #8cf285;
  cursor: pointer;
}

.controlRectangle .circle4 {
    margin-left: 12px;
    margin-top: 220px;
    background-color: #32bcff;
  cursor: pointer;
}

.controlRectangle .circle5 {
    margin-left: 12px;
    margin-top: 280px;
    background-color: #ab70ea;
  cursor: pointer;
}

.controlRectangle .circle6 {
  margin-left: 12px;
  margin-top: 340px;
  background-color: #fe019a;
  cursor: pointer;
}

.checkBttn {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 25px;
    padding-bottom: 10px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 30px;
    margin-left: 255px;
}